<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPadrao"	>

<head>
	<title>Relatório - Produtos</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Relatório de Produtos
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${periodoRelatorio}" th:action="@{/relatorios/produtos}">
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>
			
			<div class="row">
				<div class="form-group  col-sm-12">
					<label for="dataInicio">Data da Validade</label>
					<div class="form-inline">
						<input type="text" class="form-control  aw-form-control-inline-sm  js-date" 
							id="dataInicio" th:field="*{dataInicio}" autocomplete="off"/>
						<label for="a" class="aw-form-label-between">a</label>
						<input type="text" class="form-control  aw-form-control-inline-sm  js-date" 
							id="dataFim" th:field="*{dataFim}" autocomplete="off"/>
					</div>
				</div>
			</div>
				
			<div class="row">
				<div class="form-group  col-sm-12">
					<label for="min">mínimo</label>
					<div class="form-inline">
						<input type="number" class="form-control  aw-form-control-inline-sm" 
							id="min" th:field="*{min}" autocomplete="off"/>
						<label for="a" class="aw-form-label-between">máximo</label>
						<input type="number" class="form-control  aw-form-control-inline-sm" 
							id="max" th:field="*{max}" />
					</div>
				</div>
			</div>	
				
			<button type="submit"  onclick="target = '_blank'" class="btn  btn-primary">Emitir</button>
		</form>
	</div>
</section>

</html>